<!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

          <% @cats.each do |cat| %>
        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="featurette-image img-circle img-responsive pull-right" src="<%=cat.image_url%>">
            <h2 class="featurette-heading"><%= cat.name %>
                <span class="text-muted"><%= link_to('See More', cat_path(cat)) %></span>
            </h2>
            <p class="lead">Lives Left: <%= cat.lives %></p>
        </div>
        <% end %>




